body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, th, td {
	text-align: center;
}

h2 {
	color: black;
}

h3 em {
	background-color: red;
	color: white;
	border-radius: 2px;
}

.btn-group-small {
	text-align: center;
}
